<div class="mat-headline" style="font-family: 'Ubuntu';">
    Please fill in the employee details:
</div>
<form class="predictForm" [formGroup]="form" (ngSubmit)="onSubmit()" style="max-width: 350px">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Employee name</mat-label>
            <input matInput formControlName="name" name="name" mat-raised-button matTooltip="Employee Name"
            [matTooltipPosition]="'above'">      
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput type="number" min="0" formControlName="Age" name="Age">
        </mat-form-field>
    <div class="gender">
        <label>Gender: </label>
        <mat-radio-group color="primary" formControlName="Gender">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="form.controls['Gender'].invalid && (form.controls['Gender'].dirty || form.controls['Gender'].touched) || idSubmitted"
            class="red">
            <div *ngIf="form.controls['Gender'].errors?.['required']">
                Please choose gender
            </div>
        </div>
    </div>
        <mat-form-field appearance="fill" >
            <mat-label>Marital status</mat-label>
            <mat-select formControlName="MaritalStatus">
              <mat-option value="Single">Single</mat-option>
              <mat-option value="Married">Married</mat-option>
              <mat-option value="Divorced">Divorced</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Education</mat-label>
            <mat-select formControlName="Education" mat-raised-button matTooltip="Please select from the list the level of education of the employee"
            [matTooltipPosition]="'above'">
              <mat-option value="Without college">Without college</mat-option>
              <mat-option value="College">College</mat-option>
              <mat-option value="Bachelors">Bachelors</mat-option>
              <mat-option value="Masters">Masters</mat-option>
              <mat-option value="PhD">PhD</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Education field</mat-label>
            <mat-select formControlName="EducationField" mat-raised-button matTooltip="Please select from the list the type of education of the employee"
            [matTooltipPosition]="'above'">
              <mat-option value="Human Resources">Human Resources</mat-option>
              <mat-option value="Life Sciences">Life Sciences</mat-option>
              <mat-option value="Marketing">Marketing</mat-option>
              <mat-option value="Medical">Medical</mat-option>
              <mat-option value="Technical Degree">Technical Degree</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Distance from home [km]</mat-label>
            <input matInput type="number" min="0" formControlName="DistanceFromHome" name="DistanceFromHome">
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Department</mat-label>
            <mat-select formControlName="Department" mat-raised-button matTooltip="Please select from the list the type of department in which the employee work"
            [matTooltipPosition]="'above'">
              <mat-option value="Sales">Sales</mat-option>
              <mat-option value="Research & Development">Research & Development</mat-option>
              <mat-option value="Human Resources">Human Resources</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Job role</mat-label>
            <mat-select formControlName="JobRole" mat-raised-button matTooltip="Please select from the list the position of the employee in the company"
            [matTooltipPosition]="'above'">
              <mat-option value="Healthcare Representative">Healthcare Representative</mat-option>
              <mat-option value="Human Resources">Human Resources</mat-option>
              <mat-option value="Laboratory Technician">Laboratory Technician</mat-option>
              <mat-option value="Manager">Manager</mat-option>
              <mat-option value="Manufacturing Director">Manufacturing Director</mat-option>
              <mat-option value="Research Director">Research Director</mat-option>  
              <mat-option value="Research Scientist">Research Scientist</mat-option>
              <mat-option value="Sales Executive">Sales Executive</mat-option>
              <mat-option value="Sales Representative">Sales Representative</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Daily rate</mat-label>
            <input matInput type="number" min="0" formControlName="DailyRate" name="DailyRate" mat-raised-button matTooltip="Please enter the average wage of the employee per day"
            [matTooltipPosition]="'above'">
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Business Travel</mat-label>
            <mat-select formControlName="BusinessTravel" mat-raised-button matTooltip="Please select from the list the frequency of Business travel of the employee"
            [matTooltipPosition]="'above'">
              <mat-option value="Non-Travel">Non-Travel</mat-option>
              <mat-option value="Travel_Frequently">Travel_Frequently</mat-option>
              <mat-option value="Travel_Rarely">Travel_Rarely</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Monthly income</mat-label>
            <input matInput type="number" min="0" formControlName="MonthlyIncome" name="MonthlyIncome" mat-raised-button matTooltip="Please enter the average wage of the employee per month"
            [matTooltipPosition]="'above'">
        </mat-form-field>
    <div class="overTime">
        <label>Over time?</label>
        <mat-radio-group color="primary" formControlName="OverTime" mat-raised-button matTooltip="Please select Yes if the employee usually works overtime, if not please select No"
        [matTooltipPosition]="'above'">
          <mat-radio-button value="Yes">Yes</mat-radio-button>
          <mat-radio-button value="No">No</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="form.controls['OverTime'].invalid && (form.controls['OverTime'].dirty || form.controls['OverTime'].touched) || idSubmitted"
            class="red">
            <div *ngIf="form.controls['OverTime'].errors?.['required']">
                Please mark whether there are over time
            </div>
        </div>
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Total working years</mat-label>
        <input matInput type="number" min="0" formControlName="TotalWorkingYears" name="TotalWorkingYears" mat-raised-button matTooltip="Please enter the number of years the employee has works for the company"
        [matTooltipPosition]="'above'">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Training times last year</mat-label>
        <input matInput type="number" min="0" formControlName="TrainingTimesLastYear" name="TrainingTimesLastYear" mat-raised-button matTooltip="Please enter the number of employee training last year"
        [matTooltipPosition]="'above'">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Years in current role</mat-label>
        <input matInput type="number" min="0" formControlName="YearsInCurrentRole" name="YearsInCurrentRole" mat-raised-button matTooltip="Please enter the number of years the employee has been in the current position"
        [matTooltipPosition]="'above'">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Years since last promotion</mat-label>
        <input matInput type="number" min="0" formControlName="YearsSinceLastPromotion" name="YearsSinceLastPromotion" mat-raised-button matTooltip="Please enter the number of years since the employee's last promotion"
        [matTooltipPosition]="'above'">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Years with current manager</mat-label>
        <input matInput type="number" min="0" formControlName="YearsWithCurrManager" name="YearsWithCurrManager" mat-raised-button matTooltip="Please enter the number of years the employee is with the current manager"
        [matTooltipPosition]="'above'">
    </mat-form-field>

    <br><button mat-raised-button color="primary" type="submit">Predict</button>

</form>
<div style="display: flex; flex-direction:column; align-items: center;" >
    <div id="result" class= "mat-display-1" style="font-family: 'Ubuntu', sans-serif; color:rgb(83, 83, 83);">
    </div>
</div>
<div style="display: flex; flex-direction:column; align-items: center;">
    <div id="picture" >
        <div class= "mat-display-1" style="font-family:'Ubuntu', sans-serif; color:rgb(83, 83, 83)">
            For important tips for employee retention go to the <a routerLink="/tips"> tips page.</a></div>   
   </div>
</div>



