<div class="mat-headline" style="font-family: 'Ubuntu';">
    Please fill in the employee details:
</div>
<form class="predictForm" [formGroup]="form" (ngSubmit)="onSubmit()" style="max-width: 250px">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Employee name</mat-label>
            <input matInput formControlName="name" name="name">       
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput type="number" min="0" formControlName="age" name="age">
        </mat-form-field>
    <div class="gender">
        <label>Gender: </label>
        <mat-radio-group color="primary" formControlName="gender">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="form.controls['gender'].invalid && (form.controls['gender'].dirty || form.controls['gender'].touched) || idSubmitted"
            class="red">
            <div *ngIf="form.controls['gender'].errors?.['required']">
                Please choose gender
            </div>
        </div>
    </div>
        <mat-form-field appearance="fill" >
            <mat-label>Marital status</mat-label>
            <mat-select formControlName="maritalStatus">
              <mat-option value="Single">Single</mat-option>
              <mat-option value="Married">Married</mat-option>
              <mat-option value="Divorced">Divorced</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Education</mat-label>
            <mat-select formControlName="education">
              <mat-option value="withoutCollege">Without college</mat-option>
              <mat-option value="college">College</mat-option>
              <mat-option value="bachelors">Bachelors</mat-option>
              <mat-option value="masters">Masters</mat-option>
              <mat-option value="phd">PHD</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Education field</mat-label>
            <mat-select formControlName="educationField">
              <mat-option value="humanResources">Human resources</mat-option>
              <mat-option value="lifeSciences">Life sciences</mat-option>
              <mat-option value="marketing">Marketing</mat-option>
              <mat-option value="madical">Madical</mat-option>
              <mat-option value="technicalDegree">Technical degree</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Distance from home [km]</mat-label>
            <input matInput type="number" min="0" formControlName="distance" name="distance">
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Department</mat-label>
            <mat-select formControlName="department">
              <mat-option value="sales">Sales</mat-option>
              <mat-option value="research&develoment">Research & develoment</mat-option>
              <mat-option value="humanResources">Human resources</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Job role</mat-label>
            <mat-select formControlName="jobRole">
              <mat-option value="healthcareRepresentative">Healthcare representative</mat-option>
              <mat-option value="humanResources">Human resources</mat-option>
              <mat-option value="LlaboratoryTechnician">Laboratory technician</mat-option>
              <mat-option value="manager">Manager</mat-option>
              <mat-option value="manufacturingDirector">Manufacturing director</mat-option>
              <mat-option value="researchDirector">Research director</mat-option>  
              <mat-option value="researchScientist">Research scientist</mat-option>
              <mat-option value="salesExecutive">Sales executive</mat-option>
              <mat-option value="salesRepresentative">Sales representative</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Daily rate</mat-label>
            <input matInput type="number" min="0" formControlName="dailyRate" name="dailyRate">
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Business Travel</mat-label>
            <mat-select formControlName="businessTravel">
              <mat-option value="Non-travel">Non-travel</mat-option>
              <mat-option value="travelFrequently">Travel frequently</mat-option>
              <mat-option value="travelRarely">Travel rarely</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Monthly income</mat-label>
            <input matInput type="number" min="0" formControlName="monthlyIncome" name="monthlyIncome">
        </mat-form-field>
    <div class="overTime">
        <label>Over time?</label>
        <mat-radio-group color="primary" formControlName="gender">
          <mat-radio-button value="Yes">Yes</mat-radio-button>
          <mat-radio-button value="No">No</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="form.controls['overTime'].invalid && (form.controls['overTime'].dirty || form.controls['overTime'].touched) || idSubmitted"
            class="red">
            <div *ngIf="form.controls['overTime'].errors?.['required']">
                Please mark whether there are over time
            </div>
        </div>
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Total working years</mat-label>
        <input matInput type="number" min="0" formControlName="totalWorkingYears" name="totalWorkingYears">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Training times last year</mat-label>
        <input matInput type="number" min="0" formControlName="trainingTimesLastYear" name="trainingTimesLastYear">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Years in current role</mat-label>
        <input matInput type="number" min="0" formControlName="yearsInCurrentRole" name="yearsInCurrentRole">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Years since last promotion</mat-label>
        <input matInput type="number" min="0" formControlName="yearsSinceLastPromotion" name="yearsSinceLastPromotion">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Years with current manager</mat-label>
        <input matInput type="number" min="0" formControlName="yearsWithCurrentManager" name="yearsWithCurrentManager">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Send</button>

</form>