<mat-card>
  <div class="bg-image">
    <div class= "mat-display-1" style="font-family: 'Ubuntu', sans-serif; color:rgb(83, 83, 83);">
      Hey manager, 
      <br>Would you like to predict if your employee about to resign?
      <br>Sign up and let's check it out!
    </div>
    <div style="display: flex; flex-direction:column; align-items: center;">
      <form #signupForm="ngForm" (ngSubmit)="onSubmit()" class="sign-up-form">
        <div class="example-container">
          <div class="mat-headline" style="font-family: 'Ubuntu', sans-serif; color:rgb(83, 83, 83);">
            Sign up
          </div>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Email</mat-label>
              <input matInput placeholder="email" [(ngModel)]="email" name="email" required>
              <mat-hint>The one you really read</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Password</mat-label>
              <input matInput placeholder="password" [(ngModel)]="password" name="password" type="password" required>
              <mat-hint>6 chracters or more</mat-hint>
            </mat-form-field>
          </p>
          <div>
            <button mat-raised-button color="primary" [disabled]="!signupForm.form.valid">
              Sign Up
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-card>