<mat-card>
  <div class="bg-image">
    <div class= "mat-display-1" style="font-family: 'Ubuntu', sans-serif; color:rgb(83, 83, 83);">
      Hey manager, 
      <br>Log in and check if your employee is about to leave.
      <br>Not registered yet? <a routerLink="/signup"> Click here to sign up!</a>
    </div>
    <div style="display: flex; flex-direction:column; align-items: center;">
      <form #signinForm="ngForm" (ngSubmit)="onSubmit()" class="log-in-form">
        <div class="example-container">
          <div class="mat-headline" style="font-family: 'Ubuntu', sans-serif; color:rgb(83, 83, 83);">
            Login
          </div>
          <p>
              <mat-form-field appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput placeholder="email"
                  [(ngModel)] = "email"
                  name = "email"
                  required>
                <mat-hint></mat-hint>
              </mat-form-field>
            </p> 
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password"
                  [(ngModel)] = "password" 
                  name = "password" 
                  type = "password"
                  required>
                <mat-hint></mat-hint>
              </mat-form-field>
            </p>                                       
          <div >
              <button mat-raised-button color="primary" 
                      [disabled]="!signinForm.form.valid">
                       Login
              </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-card>