<div class="bg-image">
    <div class="mat-title" style="font-family: 'Ubuntu', sans-serif; color:rgb(255, 255, 255);">
        We are here to help you predict your employee attrition.
        Today the job market is very dynamic, and employees are always looking for a new and more rewarding place.
        So in order to know which employee is going to leave, and which employee is worth investing in, all you have to do is fill in the data about the employee - and we'll predict the attritin of your employee.
        Also note that you can see your prediction history at any moment.
        <br>
        <br><div class="mat-headline">Contact us</div>
        Email:<a class="whitelink1" href="/about-us"> employeeAttrition@gmail.com</a>
        <br>Phone: 053-111-1111
    </div>
</div>
