<div class="content">
    <span>Here is a site that can help you predict your employee attrition.
        <br>Today the job market is very dynamic, and employees are always looking for a new and more rewarding place.
        <br>So in order to know which employee is going to leave, and which employee is worth investing in,
        <br>you have to do is fill in the data about the employee - and we'll do the rest.
        <br>Also note that you can see your prediction history at any moment.
        <p>For any inquiries and questions, you can contact us through the following means of communication:
        <br>Email: employeeAttrition@gmail.com
        <br>Phone: 053-111-1111
    </span>
</div>