<div class="bg-image">
    <div class="tips">
        <mat-icon color="primary">looks_one</mat-icon>
            <div class="mat-body-1" style="font-family: 'Ubuntu'">Challenge the employees: Yes, it is always easiest to give your ticking employee the difficult tasks.
                But even if she does them better than everyone else it does not mean that they challenge her,
                nor does it mean that others can not cope with them.
                Taking employees out of their comfort zone challenges them and gives them an interest in the job.
                So even if it is not the most convenient for you, 
                you should always make sure that your employees perform varied and challenging tasks.</div>
        <p></p>
            <mat-icon color="primary">looks_two</mat-icon>
            <div class="mat-body-1" style="font-family: 'Ubuntu'">Give them their own baby: a personal project or area of responsibility in the organization or team, 
                even if it is not directly related to the employee role.</div>
        <p></p>
            <mat-icon color="primary">looks_3</mat-icon>
            <div class="mat-body-1" style="font-family: 'Ubuntu'">Encourage: Did your employee do a good job? Do not forget to give him positive feedback and credit to the rest of the organization. 
                The employee messed up? Nerves should not be allowed to rise to the top and 'mow' it, certainly not next to the rest of the team. 
                Sit together comfortably and understand what happened and what needs to be done so that it does not happen again. 
                This employee will not want to disappoint you one more time.</div>
        <p></p>
            <mat-icon color="primary">looks_4</mat-icon>
            <div class="mat-body-1" style="font-family: 'Ubuntu'">Make sure to have personal meetings: These are the meetings that are "easiest" for managers to postpone or cancel. 
                Do not let this happen, even if you have to shorten the meetingfrom half an hour to 10 minutes. 
                Cancellation of personal meetings makes the employee feel that he and the work he is doing is not important to his superior.</div>
        <p></p>
            <mat-icon color="primary">looks_5</mat-icon>
            <div class="mat-body-1"style="font-family: 'Ubuntu'">Open up the employees: Find out with the employees what their professional aspirations are and instead of trying to prevent them from them just help them fulfill them, otherwise they will do it in another workplace. 
                Promotion, role change, moving to another department, professional course or enrichment workshop are not rude words.</div>
    </div>
</div>